{% extends 'index.html' %}

{% block head %}

{% endblock %}

{% block content %}
<div class="container jumbotron"> 
        {% from 'includes/form_helpers.html' import render_field %}
        <h1>Login Form</h1>
        <form method="POST" action="">
            <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" placeholder="2013xd.xd@ves.ac.in">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" >
            </div>
            <p><input type="submit" class="btn btn-primary" value="Submit"></p>
        </form>
    </div>

{% endblock %}
