{% extends 'index.html' %}

{% block head %}
<style>
    #one_space{
    margin-top: 1em;
}
.fa-star{
    color: orange;
}
stars{
    margin-top: 2em;
}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}

    <div class="container text-light">
        <div class="row">
            <div class= "col-sm-12">
                <h2 id="one_space">{{project['project_name']}}</h2>
                <p>{{project['project_description']}}</p>
            </div>
        </div>

        <div class="row">
            <div class= "col-sm-12">
                <a href="{{project['project_github_repo']}}"><h5 id="one_space">{{project['project_github_repo']}}</h5></a>                
            </div>
        </div>
        
        <div class="row">
            <div class= "col-sm-12">
                <h4 id="one_space">Technology Stack</h4>                
                {{project['project_techstack']}}
            </div>
        </div>

        <div class="row">
            <div class= "col-sm-12">
                <h4 id="one_space">Experience</h4>                
                <p>{{project['project_experience']}}</p>
                {% if project['project_experience'] == "" %}
                    <p>Group has not entered their experience</p>
                {% endif %}
            </div>
        </div>

        {% for item in project['project_rating'] %}
        <div class="container jumbotron" style="color:black">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="container userBox">
                            <img class="profile_image_graph"  src="../static/img/chanakya.jpg" height="150em" width="150em" alt="TEST">
                            <p  style="font-size:1.5em;margin-top:2em">{{ item['faculty_name'] }}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h3>Comment</h3>
                        <p>{{ item['comments'] }}</p>
                    </div>
                    <div class="col-sm-2">
                        <h3>Rating</h3>
                        {% for n in range(item['rating'] | int()) %}
                            <i class="fa fa-star" style="font-size:24px"></i>
                        {% endfor %}
                        
                    </div>
                </div>
        </div>
        {% endfor %}

        <!-- <div class="row">
            <div class= "col-sm-12">
                <h4 id="one_space">Ratings</h4>                
            </div>
            <div class="col-sm-12 text-left" >
                {% for n in range(project['project_rating'][0]['rating'] | int()) %}
                    <i class="fa fa-star"></i>
                {% endfor %}
                {% for n in range(5 - project['project_rating'][0]['rating'] | int()) %}
                <i class="fa fa-star-o"></i>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class= "col-sm-12">
                <h4 id="one_space">Comments </h4>                                   
                <p>{{project['project_rating'][0]['comments']}}</p>
                {% if project['project_rating'][0]['comments'] == "" %}
                    <p>No Comments yet</p>
                {% endif %}
            </div>
        </div> -->

        {% if session.faculty %}
            <div class="container jumbotron" style="color:black">
                <h3 class="text-center">Your Suggestions</h3>
                <form action="/rateProjects?id={{ project['_id'] | string() }}" method="POST">
                    <div class="form-group">
                        <label>Rate(between 1-5)</label>
                        <input type="range" name="rateValue" class="form-control" min="1" max="5" required>
                    </div>
                    <div class="form-group">
                        <label>Suggestions</label>
                        <input type="text" name="suggestions" class="form-control" required>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Submit">
                </form>
            </div>
        {% endif %}
{% endblock %}