{% extends 'index.html' %}
{% block head %}

{% endblock %}

{% block content%}
    <div class="container mt-4">
        <div class="row mb-4 text-light">
            Search Filters :
            <div class="col-md-2">
                <select id="category" class="form-control " onchange="category()">
                    <option>Category</option>
                    <option value="Website">Website</option>
                    <option value="Data Mining">Data Mining</option>
                    <option value="AI">AI</option>
                    <option value="Security">Security</option>
                    <option value="Networking">Networking</option>
                    <option value="IOT">IOT</option>
                    <option value="Application Development">Application Development</option>
                    <option value="Graphics/Virtual Reality">Graphics/Virtual Reality</option>
                    <option value="NLP">NLP</option>
                </select>
            </div>
            <div class="col-md-3">
                <select id="completion" class="form-control" id="sel1">
                    <option>Project Completion</option>
                    <option value="">Partial</option>
                    <option value="">Complete</option>
                </select>
            </div>
        </div>
        <div class="row">
            {% for project in projects %}
                    <div class="col-sm-6 col-md-6 col-lg-4" >
                        <div class="card mb-3 ">                            
                            <div class="card-body ">
                                <h4 class="card-title">{{project['project_name'] | truncate(15,killwords=True,leeway=0) }}</h4>
                                <p class="card-text"><h5>Catagory</h5>{{project['project_category'] | truncate(10)  }}</p>
                                <p class="card-text"><h5>Tech Stack</h5>{{project['project_techstack'] | truncate(20) }}</p>
                                <a href="project?id={{ project['_id'] | string() }}" class="btn btn-warning">See Project</a>
                            </div>
                        </div>
                    </div>
            {% endfor %}
            {% if numResults == 0 %}
                <h4 class="text-light pt-5">No Results found!</h4>
            {% endif %}
        </div> 
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.js"
			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			  crossorigin="anonymous"></script>
    <script type=text/javascript>
        function category(){
            var sel = $('#category').val();
        }
    </script>
{% endblock %}
