{% extends 'index.html' %}
{% block head %}
<style>   

.card {
    transition: box-shadow .3s;
    border-radius:3%;
    background:#ffe6ff;
  
}
.card:hover {
    border: 1px solid #000;
    background-color: #fff;
    box-shadow: 0em 0em 2em rgba(33, 33, 33, 0.40);
    cursor: pointer; 
}

</style>

{% endblock %}

{% block content%}
    <div class="container">
        <div class="row">
            <h2 id="one_space">The Search Result Page</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3" >
                <div class="card  mb-3">                            
                    <div class="card-body">
                        <h4 class="card-title">Project Title</h4>
                        <p class="card-text"><h5>Catagory</h5>AI, ML, IOT, etc</p>
                        <p class="card-text"><h5>Tech Stack</h5>HTML, CSS, Bootstrap, etc</p>
                        <a href="#" class="btn btn-primary">See Project</a>
                    </div>
                </div>
            </div>
    
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card  mb-3">                            
                    <div class="card-body">
                        <h4 class="card-title">Project Title</h4>
                        <p class="card-text"><h5>Catagory</h5>AI, ML, IOT, etc</p>
                        <p class="card-text"><h5>Tech Stack</h5>HTML, CSS, Bootstrap, etc</p>
                        <a href="#" class="btn btn-primary">See Project</a>
                    </div>
                </div>
            </div>
    
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card  mb-3">                            
                    <div class="card-body">
                        <h4 class="card-title">Project Title</h4>
                        <p class="card-text"><h5>Catagory</h5>AI, ML, IOT, etc</p>
                        <p class="card-text"><h5>Tech Stack</h5>HTML, CSS, Bootstrap, etc</p>
                        <a href="#" class="btn btn-primary">See Project</a>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card  mb-3">                            
                    <div class="card-body">
                        <h4 class="card-title">Project Title</h4>
                        <p class="card-text"><h5>Catagory</h5>AI, ML, IOT, etc</p>
                        <p class="card-text"><h5>Tech Stack</h5>HTML, CSS, Bootstrap, etc</p>
                        <a href="#" class="btn btn-primary">See Project</a>
                    </div>
                </div>
            </div>
    
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card  mb-3">                            
                    <div class="card-body">
                        <h4 class="card-title">Project Title</h4>
                        <p class="card-text"><h5>Catagory</h5>AI, ML, IOT, etc</p>
                        <p class="card-text"><h5>Tech Stack</h5>HTML, CSS, Bootstrap, etc</p>
                        <a href="#" class="btn btn-primary">See Project</a>
                    </div>
                </div>
            </div>
    
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card  mb-3">                            
                    <div class="card-body">
                        <h4 class="card-title">Project Title</h4>
                        <p class="card-text"><h5>Catagory</h5>AI, ML, IOT, etc</p>
                        <p class="card-text"><h5>Tech Stack</h5>HTML, CSS, Bootstrap, etc</p>
                        <a href="#" class="btn btn-primary">See Project</a>
                    </div>
                </div>
            </div>
    
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card  mb-3">                            
                    <div class="card-body">
                        <h4 class="card-title">Project Title</h4>
                        <p class="card-text"><h5>Catagory</h5>AI, ML, IOT, etc</p>
                        <p class="card-text"><h5>Tech Stack</h5>HTML, CSS, Bootstrap, etc</p>
                        <a href="#" class="btn btn-primary">See Project</a>
                    </div>
                </div>
            </div>  
            
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card  mb-3">                            
                    <div class="card-body">
                        <h4 class="card-title">Project Title</h4>
                        <p class="card-text"><h5>Catagory</h5>AI, ML, IOT, etc</p>
                        <p class="card-text"><h5>Tech Stack</h5>HTML, CSS, Bootstrap, etc</p>
                        <a href="#" class="btn btn-primary">See Project</a>
                    </div>
                </div>
            </div>
    
    
        </div> 
    </div>   

{% endblock %}
