{% extends 'index.html' %}
{% block head %}

{% endblock %}

{% block content%}
    <div class="container">
        <div class="row">
            <h2 id="one_space">The Search Result Page</h2>
        </div>
        <div class="row">
            {% for project in projects %}
                    <div class="col-sm-6 col-md-6 col-lg-4" >
                        <div class="card mb-3 ">                            
                            <div class="card-body ">
                                <h4 class="card-title">{{project['project_name'] | truncate(15,killwords=True,leeway=0) }}</h4>
                                <p class="card-text"><h5>Catagory</h5>{{project['project_category'] | truncate(10)  }}</p>
                                <p class="card-text"><h5>Tech Stack</h5>{{project['project_techstack'] | truncate(20) }}</p>
                                <a href="project?id={{ project['_id'] | string() }}" class="btn btn-warning">See Project</a>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div> 
    </div>   

{% endblock %}
