{% extends 'index.html' %}

{% block head %}
<style>
    #one_space{
    margin-top: 1em;
}
.fa-star{
    color: orange;
}
stars{
    margin-top: 2em;
}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}

    <div class="container text-light">
        <div class="row">
            <div class= "col-sm-12">
                <h2 id="one_space">{{project['project_name']}}</h2>
                <p>{{project['project_description']}}</p>
            </div>
        </div>

        <div class="row">
            <div class= "col-sm-12">
                <a href="{{project['project_github_repo']}}"><h5 id="one_space">{{project['project_github_repo']}}</h5></a>                
            </div>
        </div>
        
        <div class="row">
            <div class= "col-sm-12">
                <h4 id="one_space">Technology Stack</h4>                
                {{project['project_techstack']}}
            </div>
        </div>

        <div class="row">
            <div class= "col-sm-12">
                <h4 id="one_space">Experience</h4>                
                <p>{{project['project_experience']}}</p>
                {% if project['project_experience'] == "" %}
                    <p>Group has not entered their experience</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class= "col-sm-12">
                <h4 id="one_space">Ratings</h4>                
            </div>
            <div class="col-sm-12 text-left" >
                {% for n in range(project['project_rating'][0]['rating'] | int()) %}
                    <i class="fa fa-star"></i>
                {% endfor %}
                {% for n in range(5 - project['project_rating'][0]['rating'] | int()) %}
                <i class="fa fa-star-o"></i>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class= "col-sm-6">
                <h4 id="one_space">Rating</h4>                                   
                <p>{{project['project_rating'][0]['rating']}}</p>
                {% if project['project_rating'][0]['rating'] == "" %}
                    <p>No ratings yet</p>
                {% endif %}
            </div>
            <div class= "col-sm-6">
                <h4 id="one_space">Comments </h4>                                   
                <p>{{project['project_rating'][0]['comments']}}</p>
                {% if project['project_rating'][0]['comments'] == "" %}
                    <p>No Comments yet</p>
                {% endif %}
            </div>
        </div>

        {% if session.faculty %}
        <div class="container jumbotron" style="color:black">
            <h3 class="text-center">Your Suggestions</h3>
            <form action="/rateProjects?id={{ project['_id'] | string() }}" method="POST">
            <br>
                <div class="form-group">
                    <label>Range(between 1-5)</label>
                    <br>
                    <input type="range" name="rateValue" min="1" max="5">
                </div>
                <div class="form-group">
                    <label>Suggestions</label>
                    <input type="text" name="suggestions" id="rate">
                </div>
            </form>
        </div>
        {% endif %}


{% endblock %}