{% extends 'index.html' %}

{% block head %}
<style>
    #one_space{
    margin-top: 1em;
}
.fa-star{
    color: orange;
}
stars{
    margin-top: 2em;
}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}

    <div class="container text-light">
        <div class="row">
            <div class= "col-sm-12">
                <h2 id="one_space">Project Name</h2>
                <p>Nam lorem nibh, lobortis quis iaculis at, pellentesque et massa. Aliquam sollicitudin, mi a pretium fermentum, nisi libero pretium erat, quis convallis purus nisi ac nisi. In id mattis nisi. Ut in pretium lacus. Phasellus ornare velit sit amet porttitor gravida. Cras malesuada maximus libero nec viverra. Maecenas malesuada ante sit amet ligula lacinia, et cursus neque condimentum. Sed non tincidunt augue, ut placerat mi. Pellentesque congue est nec accumsan ullamcorper. Cras convallis est ac odio ultricies, rutrum lacinia nisl lacinia. In hac habitasse platea dictumst. Suspendisse nulla ipsum, facilisis at eros ut, tempor venenatis nulla.</p>
            </div>
        </div>

        <div class="row">
            <div class= "col-sm-12">
                <a href="#"><h5 id="one_space">Git Repositry </h5></a>                
            </div>
        </div>
        
        <div class="row">
            <div class= "col-sm-12">
                <h4 id="one_space">Technology Stack</h4>                
                <p>Technology : <a href="#">Resouce</a></p> 
                <p>Technology : <a href="#">Resouce</a></p> 
                <p>Technology : <a href="#">Resouce</a></p> 
            </div>
        </div>

        <div class="row">
            <div class= "col-sm-12">
                <h4 id="one_space">Experience</h4>                
                <p>Nam lorem nibh, lobortis quis iaculis at, pellentesque et massa. Aliquam sollicitudin, mi a pretium fermentum, nisi libero pretium erat, quis convallis purus nisi ac nisi. In id mattis nisi. Ut in pretium lacus. Phasellus ornare velit sit amet porttitor gravida. Cras malesuada maximus libero nec viverra. Maecenas malesuada ante sit amet ligula lacinia, et cursus neque condimentum. Sed non tincidunt augue, ut placerat mi. Pellentesque congue est nec accumsan ullamcorper. Cras convallis est ac odio ultricies, rutrum lacinia nisl lacinia. In hac habitasse platea dictumst. Suspendisse nulla ipsum, facilisis at eros ut, tempor venenatis nulla.</p>
            </div>
        </div>
          
        <div class="row">
            <div class= "col-sm-2">
                <h4 id="one_space">Ratings</h4>                                   
            </div>
            <div class="col-sm-6" >
                <i style="margin-top:2em;" class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
        </div>

        <div class="row">
            <div class= "col-sm-12">
                <h4 id="one_space">Suggestions </h4>                                     
                <p>Nam lorem nibh, lobortis quis iaculis at, pellentesque et massa. Aliquam sollicitudin, mi a pretium fermentum, nisi libero pretium erat, quis convallis purus nisi ac nisi. In id mattis nisi. Ut in pretium lacus. Phasellus ornare velit sit amet porttitor gravida. Cras malesuada maximus libero nec viverra. Maecenas malesuada ante sit amet ligula lacinia, et cursus neque condimentum. Sed non tincidunt augue, ut placerat mi. Pellentesque congue est nec accumsan ullamcorper. Cras convallis est ac odio ultricies, rutrum lacinia nisl lacinia. In hac habitasse platea dictumst. Suspendisse nulla ipsum, facilisis at eros ut, tempor venenatis nulla.</p>
            </div>
        </div>

{% endblock %}