{% extends 'index.html' %}

{% block head %}
{% endblock %}

{% block content %}
<br>
<div class="container jumbotron">
        <div class="row">
            <div class="col-sm-4">
                <div class="container userBox">
                    <img class="profile_image_graph"  src="../static/img/chanakya.jpg" height="150em" width="150em" alt="TEST">
                    <p  style="font-size:2em">{{ session.username }}</p>
                </div>
            </div>
            <div class="col-sm-6">
                <h3>Stats:</h3>
                <p>jdasfksdjvfsvjdf</p>
            </div>
            <div class="col-sm-2">
                <h3>Stats:</h3>
                <p>jdasfksdjvfsvjdf</p>
            </div>
        </div>
</div>


{% endblock %}